<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zohaltech.app.grewords" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="com.zohaltech.app.grewords.classes.App"
        android:allowBackup="true"
        android:supportsRtl="false"
        android:icon="@mipmap/ic_launcher"
        android:label="GRE Vocabs"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.zohaltech.app.grewords.activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.zohaltech.app.grewords.activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zohaltech.app.grewords.activities.VocabularyDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zohaltech.app.grewords.activities.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zohaltech.app.grewords.activities.VocabulariesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zohaltech.app.grewords.activities.SchedulerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zohaltech.app.grewords.activities.IntroductionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zohaltech.app.grewords.activities.BookmarksActivity"
            android:screenOrientation="portrait"/>
        <receiver android:name="com.zohaltech.app.grewords.classes.AlarmReceiver"/>
        <receiver
            android:name="com.zohaltech.app.grewords.classes.BootReceiver"
            android:enabled="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.zohaltech.app.grewords.classes.ConnectivityStateReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.net.wifi.STATE_CHANGE"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
